.container{
    border:1px solid black;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding: 3rem;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 3rem;
}

img{
    cursor: pointer;
}